<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" style="height: 6rem;margin-bottom: 2.5rem;background-color: white;">

    <div class="container-fluid" style="font-weight: 500;font-size: larger;">
        <i class="fa-solid fa-hotel" style="color: rgb(255, 85, 0);margin-right: 1rem;font-size: larger;"></i>
      <a class="navbar-brand" href="/" style="margin-right: 10rem;">Roomzy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listing" style="margin-right: 3rem;">Home</a>
          <a class="nav-link" href="/listing" style="margin-right: 3rem;">Listings</a>
          <a class="nav-link" href="/listing/new" style="margin-right: 3rem;">Add Listing</a>
        </div>
      </div>
    </div>
</nav>