<% layout("/layouts/boilerplate") %>

<body>

    <div class="row-1">

        <div class="alert alert-danger col-md-6 offset-md-3" role="alert">

              <%= message %>
        </div>

    </div>
    
      
</body>
