
<% layout("layouts/boilerplate") %>
<body>

    <ul>

        <% for(let list of listings){ %>

            <li><a href="/listing/<%=list._id%>"><%=list.title%></a>
                <form action="/listing/<%=list._id%>/edit">
                    <button>Edit</button>
                </form>
                <form method="post" action="/listing/<%=list._id%>?_method=DELETE">
                    <button>Delete</button>
                </form>
            </li>
            
        <%}%>
    </ul>
    
</body>

